table button {
    width: fit-content;
    padding: 5px 10px;
    background-color: #004d66;
    color: whitesmoke;
    border: 1px solid #004d66;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #252525;
    margin: 10px auto 0px auto;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
    font-size: 12pt;
    margin: 5px;
    width: 70px;
}
/* fix table width, align text */
table{
    table-layout: fixed;
    width: 100%;
    text-align: left;
    box-shadow: 1px 2px 3px #808080;
}
/* control table borders and row height */
table, th, td{
    border-collapse: collapse;
    border: 1px solid #808080;
    padding: .6em;
    word-wrap: break-word;
}
/* specify table column widths */
tr th:nth-of-type(1){
    width: 10%;
}
tr th:nth-of-type(2){
    width: 30%;
}
tr th:nth-of-type(3){
    width: 30%;
}
tr th:nth-of-type(4){
    width: 10%;
}
tr th:nth-of-type(5){
    width: 20%;
}
/* highlight table header */
th{
    background-color: #004d66;
    color: white;
    font-size: 14pt;
}
/* alternate table row colors */
tbody tr:nth-of-type(even){
    background: #e6f9ff;
}
tbody tr:hover{
    background: #ccf2ff;
}
/* tweak cursor to indicate click area */
tbody tr{
    cursor: pointer;
}